header .rogo img{
    width:20%;
}
.rogo{
    width:100%;
    float:left;
}
header 
.menu{
    width:100%;
    display:inline-block;
    background-color:black;
    color:white;
}

.menu ul li{
    float:left;
    list-style:none;
    margin-right:50px;
    margin-bottom:10px;
}
main{
    clear:both;
}
.left{
    float:left;
    width:70%;
    height:1500px;
    
}
.right{
    float:right;
    width:28%;
    height:1500px;
    margin-left:10px;
}
h2{
    clear:both;
    border-left:5px solid black;
    border-bottom:2px solid black;
    padding:5px;
    
}
.box1{
    clear:both;
}

main .left .box1 .box_pic1 img{
    width:250px;
    margin:0px 10px -17px 10px;
}
main .left .box1 .box_pic1{
    display:inline-block;
    text-align:center;
}
main .left .box1{
    background-color:lightgray;
    text-align:center;
    padding-top:40px;
}
main .right ul{
    margin-top:3px;
    margin-left:-35px;
}
main .right ul li{
    list-style:none;
}
main .right .sidetitle{
    border-bottom:3px dotted black; 
}
.right{
    padding-top:20px;
}
footer{
    float:left;
    height:50px;
    width:100%;
    padding-top:18px;
    text-align:center;
    background-color:black;
    color:white;
}


